---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'product' | 'marketing'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			body {
				padding-top: var(--header-height);
			}
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
				padding: 0;
			}
			.hero-image {
				width: 100%;
				max-width: 720px;
				margin: 2em auto 0;
				padding: 0 1em;
				box-sizing: border-box;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
				width: 100%;
				height: auto;
				max-height: 360px;
				object-fit: cover;
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 2em 1em;
				color: #595959;
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
				color: #111;
				font-weight: 500;
			}
			h2 {
				color: #111;
				font-size: 1.1rem;
				font-weight: 500;
				margin: 2em 0 1em;
			}
			.date {
				margin-bottom: 0.5em;
				color: #787878;
			}
			.last-updated-on {
				font-style: italic;
			}
			@media (max-width: 720px) {
				.hero-image {
					margin-top: 1em;
				}
				.prose {
					padding-top: 1.5em;
				}
			}
			.container {
				max-width: 750px;
				margin: 0 auto;
				padding: 0 1.5em;
				width: 100%;
				box-sizing: border-box;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="hero-image">
					{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
				</div>
				<div class="prose">
					<div class="title">
						<div class="date">
							{typeof pubDate === 'string' ? (
								<FormattedDate season={pubDate} />
							) : (
							<FormattedDate date={pubDate} />
							)}
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1>{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<div class="container">
			<Footer />
		</div>
	</body>
</html>
